DATABASE_URL="mysql://fn_kasir_link:fn_kasir_link_dev_password@localhost:3306/fn_kasir_link"
NEXT_PUBLIC_APP_NAME="FN Kasir Link"
UPLOAD_STORAGE_PATH="./storage/uploads"
BARCODE_CAMERA_ENABLED="true"
